﻿body {
    font-family: "Arial";
    font-weight: normal;
}

hr{
    margin: 5px;
}

.table caption {
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
}

.table, .table th, .table td, .table tr {
    color: black;
    padding: 4px;
    border: 2px solid black;
}

.table th {
    background-color: gray;
    color: white;
}

.table {
    margin: auto;
    border-collapse: collapse;
}

/* ======================================================================================== */

.button {
    text-align: center;
    cursor: pointer;
    border: none;
    color: white;
    background-color: gray;

    margin: 5px;
    padding: 10px;

    transition: all 0.2s;
}

.button:hover {
    border-color: #339933;
    background-color: darkgray;

    transition: all 0.2s;
}

.button:active {
    background-color: dimgray;

    transition: all 0.2s;
}
