﻿@model ASP_MVC_TEST.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device.width" />
    <link rel="stylesheet" type="text/css" href="~/Content/ErrorStyling.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styling.css" />
    <title>New Product</title>
</head>

<body>
    <h4>Logged in as @Session["Username"]</h4>
    <h4>User ID: @Session["UserId"]</h4>
    @Html.ActionLink("Log Out", "Logout", "User", null, new { @class = "button" })
    <hr />
    <h2>New Product</h2>

    <!--Fields for creating a new Product-->
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>Product Name: @Html.TextBoxFor(x => x.Name)</p>

        <p>
            Product Type: @Html.DropDownListFor(x => x.Type, new List<SelectListItem> {
                new SelectListItem{Value = "Weapon", Text = "Weapon"},
                new SelectListItem{Value = "Vehicle", Text = "Vehicle"},
                new SelectListItem{Value = "Utility", Text = "Utility"},
                new SelectListItem{Value = "Tool", Text = "Tool"},
                new SelectListItem{Value = "Entertainment", Text = "Entertainment"},
                new SelectListItem{Value = "Clothing", Text = "Clothing"},
                new SelectListItem{Value = "Food", Text = "Food"},
                new SelectListItem{Value = "Misc", Text = "Misc"}
            })
        </p>

        <p>Product Price: @Html.TextBoxFor(x => x.Price)</p>
        <input type="hidden" name="Username" value=@Session["Username"]>
        <input type="hidden" name="UserId" value=@Session["UserId"]>
        <input type="submit" value="Submit Product">
    }

    <hr />

    @Html.ActionLink("Index", "Index", "User", null, new { @class = "button" })
    @Html.ActionLink("Available Products", "AvailableProducts", "Product", null, new { @class = "button" })
    @Html.ActionLink("My Products", "MyProducts", "Product", null, new { @class = "button" })
    @Html.ActionLink("View All Products", "AllProducts", "Product", new { Page = 0 }, new { @class = "button" })
    @Html.ActionLink("View All Users", "AllUsers", "User", null, new { @class = "button" })
</body>
</html>