﻿@model IEnumerable<ASP_MVC_TEST.Models.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device.width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styling.css" />
    <title>View Products</title>
</head>

<body>
    <h4>Logged in as @Session["Username"]</h4>
    <h4>User ID: @Session["UserId"]</h4>
    @Html.ActionLink("Log Out", "Logout", "User", null, new { @class = "button" })

    <hr />

    <h3>Search Products</h3>
    <!--Field for searching for a Product by Username-->
    <form action="@Url.Action("UserProducts", "Product")" +Username method="get">
        @Html.ValidationSummary()
        <input name="Username" type="text" />
        <input class="button" type="submit" value="Search By User" />
    </form>

    <!--Field for searching for a Product by Product Name-->
    <form action="@Url.Action("FindProducts", "Product")" +Name method="get">
        @Html.ValidationSummary()
        <input name="Name" type="text" />
        <input class="button" type="submit" value="Search By Product Name" />
    </form>

    <hr />

    @if (Model.Count() == 0)
    {
        <h3>No Products Found</h3>
    }

    <!--For each Product in the List, display all of its details-->
    @if (Model.Count() > 0)
    {
        <table class="table">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Type</th>
                <th>Product Price</th>
                <th>Submitted By</th>
            </tr>

            @foreach (var Product in Model)
            {
                <tr>
                    <td>@Product.Id</td>
                    <td>@Product.Name</td>
                    <td>@Product.Type</td>
                    <td>$@Product.Price</td>
                    <td>@Product.Username</td>
                </tr>
            }
        </table>

        if (Model.ElementAt(0).Id > 10)
        {
            @Html.ActionLink("Prev", "AllProducts", "Product", new { Page = ViewBag.Page - 1 }, new { @class = "button" })
        }

        if (Model.Count() == 9)
        {
            @Html.ActionLink("Next", "AllProducts", "Product", new { Page = ViewBag.Page + 1 }, new { @class = "button" })
        }
    }

    <hr />

    @Html.ActionLink("Index", "Index", "User", null, new { @class = "button" })
    @Html.ActionLink("Available Products", "AvailableProducts", "Product", null, new { @class = "button" })
    @Html.ActionLink("My Products", "MyProducts", "Product", null, new { @class = "button" })
    @Html.ActionLink("Add A Product", "NewProduct", "Product", null, new { @class = "button" })
    @Html.ActionLink("View All Users", "AllUsers", "User", null, new { @class = "button" })
</body>
</html>

