﻿@model IEnumerable<ASP_MVC_TEST.Models.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device.width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styling.css" />
    <title>My Products</title>
</head>

<body>
    <h4>Logged in as @Session["Username"]</h4>
    <h4>User ID: @Session["UserId"]</h4>
    @Html.ActionLink("Log Out", "Logout", "User", null, new { @class = "button" })
    <hr />
    <h2>My Products</h2>

    @if (Model.Count() == 0)
    {
        <h3>No Products Found</h3>
    }

    <!--For each Product in the List, display all of its details-->
    @if (Model.Count() > 0)
    {
        <table class="table">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Type</th>
                <th>Product Price</th>
                <th>Submitted By</th>
                <th>Remove</th>
            </tr>
        @foreach (var Product in Model)
        {
          <tr>
            <td>@Product.Id</td>
            <td>@Product.Name</td>
            <td>@Product.Type</td>
            <td>$@Product.Price</td>
            <td>@Product.Username</td>
            <td>@Html.ActionLink("Remove", "DeleteMyProduct", "Product", new { ProductId = Product.Id }, null)</td>
          </tr>
        }
        </table>
    }

    <hr />

    @Html.ActionLink("Index", "Index", "User", null, new { @class = "button" })
    @Html.ActionLink("Available Products", "AvailableProducts", "Product", null, new { @class = "button" })
    @Html.ActionLink("Add A Product", "NewProduct", "Product", null, new { @class = "button" })
    @Html.ActionLink("View All Products", "AllProducts", "Product", new { Page = 0 }, new { @class = "button" })
    @Html.ActionLink("View All Users", "AllUsers", "User", null, new { @class = "button" })
</body>
</html>

