﻿@model IEnumerable<ASP_MVC_TEST.Models.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device.width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styling.css" />
    <title>All Users</title>
</head>

<body>
    <h4>Logged in as @Session["Username"]</h4>
    <h4>User ID: @Session["UserId"]</h4>
    @Html.ActionLink("Log Out", "Logout", "User", null, new { @class = "button" })
    <hr />
    <h2>All Users</h2>

    <!--For each User in the List, display all of their details-->
    <table class="table">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    @foreach (var User in Model)
    {
        <tr>
            <td>@User.Id</td>
            <td>@User.Username</td>
            <td>@User.Email</td>
            <td>@User.Password</td>
        </tr>
    }
   </table>

    <hr />

    @Html.ActionLink("Index", "Index", "User", null, new { @class = "button" })
    @Html.ActionLink("Available Products", "AvailableProducts", "Product", null, new { @class = "button" })
    @Html.ActionLink("My Products", "MyProducts", "Product", null, new { @class = "button" })
    @Html.ActionLink("Add A Product", "NewProduct", "Product", null, new { @class = "button" })
    @Html.ActionLink("View All Products", "AllProducts", "Product", new { Page = 0 }, new { @class = "button" })
</body>
</html>

