﻿@model IEnumerable<ASP_MVC_TEST.Models.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device.width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styling.css" />
    <title>@Session["Username"]'s Index</title>
</head>

<body>
    <h4>Logged in as @Session["Username"]</h4>
    <h4>User ID: @Session["UserId"]</h4>
    @Html.ActionLink("Log Out", "Logout", "User", null, new { @class = "button" })
    <hr />

    <h2>Index</h2>
    <!--For each Product in the List, display all of its details and provide an Edit button that leads to a page to change the Product's values
    and a Delete button that immediately deletes the Product-->
    <table class="table">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Type</th>
                <th>Product Price</th>
                <th>Submitted By</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
    @foreach (var Product in Model)
    {
        <tr>
            <td>@Product.Id</td>
            <td>@Product.Name</td>
            <td>@Product.Type</td>
            <td>$@Product.Price</td>
            <td>@Product.Username</td>
            <td>@Html.ActionLink("Edit", "EditProduct", "Product", new { ProductId = Product.Id }, null)</td>
            <td>@Html.ActionLink("Delete", "DeleteProduct", "Product", new { ProductId = Product.Id }, null)</td>
          </tr>
    }
    </table>

    <hr />

    @Html.ActionLink("Available Products", "AvailableProducts", "Product", null, new { @class = "button" })
    @Html.ActionLink("My Products", "MyProducts", "Product", null, new { @class = "button" })
    @Html.ActionLink("View All Products", "AllProducts", "Product", new { Page = 0 }, new { @class = "button" })
    @Html.ActionLink("Add A Product", "NewProduct", "Product", null, new { @class = "button" })
    @Html.ActionLink("View All Users", "AllUsers", "User", null, new { @class = "button" })
</body>
</html>

