﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device.width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styling.css" />
    <title>Login Form</title>
</head>

<body>
    <!--This page is only returned if the user is already logged in and tried to visit the log-in page-->
    <h2>Already logged in as @Session["Username"]</h2>
    <h4>User ID: @Session["UserId"]</h4>
    @Html.ActionLink("Log Out", "Logout", "User", null, new { @class = "button" })

    <hr />

    @Html.ActionLink("Index", "Index", "User", null, new { @class = "button" })
    @Html.ActionLink("Available Products", "AvailableProducts", "Product", null, new { @class = "button" })
    @Html.ActionLink("My Products", "MyProducts", "Product", null, new { @class = "button" })
    @Html.ActionLink("Add A Product", "NewProduct", "Product", null, new { @class = "button" })
    @Html.ActionLink("View All Products", "AllProducts", "Product", new { Page = 0 }, new { @class = "button" })
    @Html.ActionLink("View All Users", "AllUsers", "User", null, new { @class = "button" })
</body>
</html>

