﻿@model ASP_MVC_TEST.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device.width" />
    <link rel="stylesheet" type="text/css" href="~/Content/ErrorStyling.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styling.css" />
    <title>Login Form</title>
</head>

<body>
    <h2>Log In</h2>

    @if (ViewBag.Exists == false)
    {
        <h3>An error occurred with log in</h3>
        ViewData.Clear();
    }

    <!--Fields for logging in-->
        <form action="@Url.Action("Login", "User")" method="post">
            @Html.ValidationSummary()
            <p>Username: @Html.TextBoxFor(x => x.Username)</p>
            <p>Email: @Html.TextBoxFor(x => x.Email)</p>
            <p>Password: @Html.PasswordFor(x => x.Password)</p>
            <input class="button" type="submit" value="Log In" />
        </form>

        <hr />

        <p>No account? @Html.ActionLink("Sign up", "NewUser", "User", null, new { @class = "button" })</p>
</body>
</html>

