﻿@model ASP_MVC_TEST.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device.width" />
    <link rel="stylesheet" type="text/css" href="~/Content/ErrorStyling.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styling.css" />
    <title>Create Account</title>
</head>

<body>
    <h2>Create Account</h2>

    @if (ViewBag.Exists == true)
    {
        <h3>That Username and/or Email is already taken, please try again</h3>
        ViewData.Clear();
    }

    <!--Fields for creating a new account-->
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>Username: @Html.TextBoxFor(x => x.Username)</p>
        <p>Email: @Html.TextBoxFor(x => x.Email)</p>
        <p>Password: @Html.PasswordFor(x => x.Password)</p>
        <input class="button" type="submit" value="Create Account" />
    }

    <hr />

    @Html.ActionLink("Back to log-in screen", "Login", "User", null, new { @class = "button" })
</body>
</html>

